<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145411164671-e3qslq7h1nc9g9hgf819hc6su4mloaf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145411164671-e3qslq7h1nc9g9hgf819hc6su4mloaf1</string>
	<key>API_KEY</key>
	<string>AIzaSyC2K3UqDaqcqSAVwsR-D0joG9TWOrotxpE</string>
	<key>GCM_SENDER_ID</key>
	<string>145411164671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kununuaApp</string>
	<key>PROJECT_ID</key>
	<string>kununua-25cc6</string>
	<key>STORAGE_BUCKET</key>
	<string>kununua-25cc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145411164671:ios:4fc863e3fb97f5db6e7fca</string>
</dict>
</plist>